@import "../../index.scss";

.jumbotron {
  background-color: inherit !important;
  min-height: inherit;
  margin-bottom: 0 !important;
}

.jumbotronText {
  color: $dark;
}

.jumbotronAction {
  a {
    margin: 5px
  }
}
